{% extends "base_generic.html" %} {% block content %}

<!-- body section -->
<div class="container">
  <div class="row">
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissable fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      您输入的邮箱不正确，请重试。。
    </div>
    {% endif %}
  </div>

  <div class="row center-block ">
    <div id="login-body">
      <div class="row">
        <h2 class="col-sm-offset-2 col-sm-6">用户密码重设</h2>
      </div>
      <form method="post" class="form-horizontal" action="">
        {% csrf_token %} 
        
        <div class="form-group">
          <label class="control-label col-sm-2 requiredField" for="email">邮箱确认:</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="email" placeholder="请输入注册邮箱，可用于找回密码" name="email">
            <p><small class="text-muted">密码重设方法将发送至此邮箱地址。</small></p>

            {% if form.email.help_text %}
              <small style="color: grey">{{ form.email.help_text }}</small>
              {% endif %}
          </div>
         
        </div>

        <!-- <p>Email : {{ form.email }}</p> -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <input type="submit" class="btn btn-primary" value="提交密码重设请求" />
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
</div>

{% endblock %}