{% extends "base_generic.html" %} {% block content %}

<!-- body section -->
<div class="container">
    <div class="row">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ form.errors }}
        </div>
        {% endif %}
    </div>
    <div class="row center-block ">
        <div id="logout-body">

            <h2 class="col-sm-offset-2 col-sm-8">登录美基金场外交易</h2>
            {% if validlink %}
            
            <div class="row">
                <p class= "col-sm-offset-2 col-sm-8">请输入您的新密码:</p>
            </div>
            <form action="" class="form-horizontal" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2 requiredField" for="password1">新密码:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password1" placeholder="请设置登录密码" name="new_password1">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2 requiredField" for="password2">确认密码:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password2" placeholder="请确认登录密码" name="new_password2">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-primary">提交新密码</button>
                    </div>
                </div>

            </form>
            {% else %}
            <p class="col-sm-offset-2 col-sm-8">密码重置失败，无效密码充值链接，请提交一个新请求。</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}