<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include 'html/include/common_header.html' %}
</head>

<body>
  <!-- menu section -->
  {% include "html/include/topmenu.html" %}
  <!-- body section -->
  <div class="container">
    <div class="row center-block ">
      <div class="col-md-4 col-md-offset-4">
        <div id="login-body">
          <h2>登录美基金场外交易</h2>
          <form action="" method="post">
              {% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}

            <p>Email : {{ form.email }}</p>
            <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- footer section-->
  {% include 'html/include/footer.html' %}
</body>

</html>
