[Unit]
Description=coin exchange gunicorn daemon
After=network.target

[Service]
User=chi
Group=www-data
WorkingDirectory=/home/chi/workspace/python/projects/xwjy/coinExchange
ExecStart=/home/chi/workspace/python/projects/xwjy/dj2env/bin/gunicorn --access-logfile /var/log/web.access.log --error-logfile /var/log/web.error.log --workers 10 --bind unix:/home/chi/workspace/python/projects/xwjy/coinExchange/coinExchange_nginx.sock coinExchange.wsgi:application

[Install]
WantedBy=multi-user.target

# --access-logfile /var/log/web.access.log --error-logfile /var/log/web.error.log
# --access-logfile - : disable log