{% extends "base_generic.html" %}

<div class="container">
    <div class="row">
        <h3>设置微信支付</h3>
        <h4>1. 微信账户信息</h4>
        <div class="form_group">
            <div id="div_id_account" class="form-group">
                <label for="id_account" class="control-label">微信账号</label><span class="asteriskField">*</span>
                <div class="controls ">
                    <input class="textinput textInput form-control" id="id_account" maxlength="10" name="account" type="text" value="{% if weixin %}{{ weixin.account_at_provider }}{% endif %}">/>
                </div>
            </div>
            <div id="div_id_alias" class="form-group">
                <label for="id_alias" class="control-label">微信昵称</label><span class="asteriskField">*</span>
                <div class="controls ">
                    <input class="textinput textInput form-control" id="id_alias" maxlength="10" name="alias" type="text" value="{% if weixin %}{{ weixin.account_alias }}{% endif %}">/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="submit_order()">保存</button>
            <button type="button" class="btn btn-default" onclick="goback()">撤销</button>
        </div>
        <h4>2. 付款二维码</h4>
        <div class="form-group">
            <form action="{% url upload_payment_pic %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_payment_image" type="file" class="" name="image">
                </p>
                <button type="button" class="btn btn-primary">上传</button>
            </form>
            {% if weixin_payment_image %}
            <a href="#"><img src="{{ weixin_payment_image.qrcode.url}}" width="64" height="64"></a>
            {% endif %}

        </div>
        <h4>3. 添加店员二维码</h4>
        <div class="form-group">
            <form action="{% url upload_shopassitant_pic %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_shopassistant_image" type="file" class="" name="image">
                </p>
                <button type="button" class="btn btn-primary">上传</button>
            </form>
            {% if weixin_shop_assistant_image %}
            <a href="#"><img src="{{ weixin_shop_assistant_image.qrcode.url}}" width="64" height="64"></a>
            {% endif %}
        </div>
    </div>
</div>