<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="/static/css/bootstrap.3.3.7.min.css">-->
    <link rel='stylesheet' href='/static/css/bootstrap.3.3.7.min.css'>

    <!-- jQuery library -->
    <script src="/static/scripts/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/static/scripts/bootstrap.3.3.7.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>美基金朋友圈交易站</title>
</head>

<body>
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <h3>充值收款二维码</h3>
                    <div id="input_purchase">
                        <table class="table">
                            <tr>
                                <td>总额 {{ total_amount }}{{ unit_price_currency}}</td>
                            </tr>
                            <tr>
                                <td><img src="{{ qrcode_url }}" width="100%"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div>请扫描二维码跳转{{ payment_method }}收银台</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
</body>

</html>