<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'html/include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "html/include/topmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
			<div class="row">
				<div style="text-align:center">
					<h1>美基金场外交易平台</h1>
					<p class="text-danger">{{ error_msg }}</p>
				</div>
			</div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'html/include/footer.html' %}

</body>

</html>
