<!DOCTYPE html>
<html lang="en-us">

<head>
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="/static/css/bootstrap.3.3.7.min.css">-->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

  <!-- jQuery library -->
  <script src="/static/scripts/jquery.3.2.1.min.js"></script>
  <script src="/static/scripts/purchase_ui.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="/static/scripts/bootstrap.3.3.7.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>美基金朋友圈交易站</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/static/img/axfund_icon.png" width=96 height=36></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">卖美基金</a></li>
            <li><a href="#">买美基金</a></li>
            <li><a href="#">我的交易</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="account.html"><span class="glyphicon glyphicon-user"></span>我的账户</a></li>
            <li><a href="logout.html"><span class="glyphicon glyphicon-log-in"></span>退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {% load mathfilters %}
  <div class="container">
    <h6>美基金余额：2302.35 状态：锁定</h6>
    <div class="well">
      <div class="row">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="lockfund-form-label">购买美基金</h4>
          </div>
         {% if sellorder %}
          <form id="buy-modal" tabindex="-1" role="dialog" action="/purchase/createorder2/" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ username }}" />
            <input type="hidden" name="unit_price" value="{{ sellorder.unit_price }}" />
             <div class="modal-body form_group">
              <div id="div_id_quantity" class="form-group"> <label for="id_quantity" class="control-label">购买数量</label><span class="asteriskField">*</span> </label>
                <div class="controls "> <input class="textinput textInput form-control" id="id_quantity" maxlength="10" name="quantity" type="text" /> </div>
              </div>
              <p>卖方用户名：{{ username }}</p>
              <p>锁定价格：{{ sellorder.unit_price }} CNY&nbsp;&nbps;&nbsp;&nbsp;锁定期限：2 分钟</p>
              <div id="div_id_payment_method" class="form-group"> <label for="id_payment_method" class="control-label">付款方式</label><span class="asteriskField">*</span> </label>
                <div class="controls "> <select class="select select-input form-control" id="id_payment_method" onchange="javascript: $('#img_payment_qrcode').attr('src',this.value);">
                    {% for payment_method in sellorder.owner_payment_methods %}
                    <option value="/static/{{ paymemt_method.qrcode_image }}">{{ payment_method.provider_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div id="div_id_payment_qrcode">
                <img id="img_payment_qrcode" src="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="submit">锁定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">撤销</button>
              </div>
            </div>
        </div>
        </form>
        {% endif %}
      </div>
    </div>

  </div>
  <footer class="container">
    <div class="row" style="text-align: center;">
      美基金团队版权所有2017&copy
    </div>
  </footer>
</body>
<script>
</script>

</html>
