<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include 'html/include/common_header.html' %}
  <script language="JavaScript">
  function submit_order() {
    units = $("#id_quantity").val();
    if (isNaN(units)) {
        $("#div_id_error").text("您输入的购买数量不正确");
        return;
    }

    units_val = parseFloat(units);
    if (units_val < 0.001) {
      $("#div_id_error").text("请输入购买数量");
      return;
    }

    available_units = parseFloat($("#id_available_units").val())
    if (available_units < units_val) {
      $("#div_id_error").text("您的购买数量不可以超过" + available_units.toFixed(2));
      return;
    }

    unit_price = parseFloat($("#id_unit_price").val());
    $("#id_total_amount").val((units_val * unit_price).toFixed(2));

    var provider = $("#id_seller_payment_method").val();
    if (provider.length==0){
      $("#div_id_error").text("请选择付款方式");
      return;
    }

    $("#create_purchase").submit();
  }
  function show_total_cost(units, price) {
    if (!isNaN(units) && !isNaN(price)) {
      var amount = parseFloat(units * price).toFixed(2);
      $("#total_cost").text(amount);
      $("#id_total_amount").val(amount);
    }
  }

  function goback() {
    window.location.href = '/purchase/';
  }
  </script>
</head>

<body>
  <!-- menu section -->
  {% include "html/include/topmenu.html" %}
  <!-- body section -->
  {% load mathfilters %}
  <div class="container">
    {% include "html/include/balance_banner.html" %}
    <div class="well">
      <div class="row">
        <div class="offset2 col-md-6">
            <h3>购买美基金</h3>
          <div id="input_purchase">
            {% if returnstatus and returnstatus.reason != 'OK' %}
               <div id="div_id_returnstatus" class="text-danger">{{ returnstatus.reason }}. {{ returnstatus.message }}</div>
            {% endif %}
               <div id="div_id_error" class="text-danger" ></div>
             <form id="create_purchase" tabindex="-1" role="dialog" action="/purchase/createorder2/" method="post">
               {% csrf_token %}
               <input type="hidden" name="username" value="{{ username }}" />
               <input type="hidden" id="id_available_units" name="available_units" value = "{{ available_units_for_purchase }}"/>
               <input type="hidden" name="owner_user_id" value="{{ owner_user_id }}"/>
               <input type="hidden" name="reference_order_id" value="{{ reference_order_id }}"/>
               <input type="hidden" id="id_unit_price" name="unit_price" value="{{ buyorder.unit_price }}" />
               <input type="hidden" name="crypto" value="AXFund"/>
               <input type="hidden" id="id_total_amount" name="total_amount" value="{% if buyorder.total_units > 0 %}{{ buyorder.total_units }}{% endif %}"/>
               <div class="form_group">
                 <table class="table">
                   <tr>
                     <th>购买上限</th>
                     <th>锁定价格(CNY)</th>
                     <th>总额</th>
                   </tr>
                   <tr>
                     <td>{{ available_units_for_purchase }}</td>
                     <td>{{ buyorder.unit_price }}</td>
                     <td><div id="total_cost"></div></td>
                   </tr>
                 </table>
               </div>
               <div id="div_id_quantity" class="form-group"> <label for="id_quantity" class="control-label">购买数量</label><span class="asteriskField">*</span>
                 <div class="controls "> <input class="textinput textInput form-control" id="id_quantity" maxlength="10" name="quantity" type="text" onkeyup="show_total_cost(this.value, {{ buyorder.unit_price }})" /> </div>
               </div>
                 <div id="div_id_payment_method" class="form-group"> <label for="lbl_id_payment_method" class="control-label">付款方式</label><span class="asteriskField">*</span>
                   <!--<div class="controls "> <select class="select select-input form-control" id="id_payment_method" onchange="javascript: $('#img_payment_qrcode').attr('src',this.value);">-->
                   <div class="controls "> <select class="select select-input form-control" id="id_seller_payment_method" name="seller_payment_provider">
                       <option value="">请选择付款方式</option>
                       {% for payment_method in owner_payment_methods %}
                       <option value="{{ payment_method.provider_code }}">{{ payment_method.provider_name }}</option>
                       {% endfor %}
                     </select>
                   </div>
                 </div>
                 <div class="form-group">
                   <button type="button" class="btn btn-primary" onclick="submit_order()">锁定</button>
                   <button type="button" class="btn btn-default" onclick="goback()">撤销</button>
                 </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section-->
  {% include 'html/include/footer.html' %}
</body>
<script>
</script>

</html>
