<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include 'html/include/common_header.html' %}
</head>

<body>
  <!-- menu section -->
  {% include "html/include/topmenu.html" %}
  <!-- body section -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="update-external_address-body">
          <h2>添加／更改提币地址</h2>
          <form method="post" class="paper-form" action="/accounts/external_address/" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ user_external_address.id }}"/>
            <input type="hidden" name="crypto" value="{{ user_external_address.crypto }}"/>
            <input type="hidden" id="txt_id_userid" name="userId" value="{{ user_external_address.userid }}"/>
            {% if message and message|length > 0 %}
               {% if message_type == 'success' %}
            <p class="text-success">{{ message }}</p>
               {% else %}
            <p class="text-danger">{{ message }}</p>
               {% endif %}
            {% endif %}
            <div id="div_id_address" class="form-group"> <label for="lbl_id_address" class="control-label  requiredField">
				提币地址<span class="asteriskField">*</span> </label>
              <div class="controls "> <input class="textinput textInput form-control" id="txt_id_address" name="address" type="text" maxlength="128" value="{{ user_external_address.address }}"/> </div>
            </div>
            <div id="div_id_alias" class="form-group"> <label for="lbl_id_alias" class="control-label requiredField">
			    备注名<span class="asteriskField">*</span> </label>
              <div class="controls "> <input class="textinput textInput form-control" id="txt_id_alias" name="alias" type="text" value="{{ user_external_address.alias}}"/> </div>
            </div>
            <p>
              <button class="btn btn-success pull-left" id="btn_id_update" type="submit">更新</button>&nbsp;<a href="/accounts/accountinfo/" class="btn btn-default pull-right" id="btn_id_cancel">撤销</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section-->
  {% include 'html/include/footer.html' %}
</body>

</html>
