from .base import *

DEBUG=False

# https://docs.djangoproject.com/en/2.0/ref/settings/#allowed-hosts
# A list of strings representing the host/domain names that this Django site can serve. This is a security measure to prevent HTTP Host header attacks, 
# which are possible even under many seemingly-safe web server configurations.

STATIC_ROOT = "/var/www/coinexchange/static/"

MEDIA_ROOT = "/var/www/coinexchange/media/"

ALLOWED_HOSTS = [ '{{ (',').join(groups['tradesite_prod']) }}', 'cnytrx.uuvc.com','www.uuvc.com', 'uuvc.com', 'localhost', '127.0.0.1', '[::1]']

API_TRANS_LIMIT_IN_CENT = {{ trans_limit_in_cent }}
