<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if username %}/{% else %}/walletgui/{% endif %}"><img src="/static/img/axfund_icon.png" width=96 height=36></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'balance' %}">主页</a></li>
          <li><a href="{% url 'show_purchase' %}">购买</a></li>
          <li><a href="{% url 'balance' %}">提现</a></li>
          <li><a href="{% url 'balance' %}">交易历史</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
