<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
         <div class="modal-body">
           <h2>基金钱包备份</h2>
           <div id="div_id_quantity" class="form-group">
             <label for="id_amount" class="control-label">基金备份钱包，请下载保存</label></label>
             <div class="controls "> <a href="#">wallet_backup_20180314_010011.dat</a> </div>
           </div>
         </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
