<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
        <div>
          <table>
          <tr>
             <th>账户余额</th>
             <td>{{ account.balance }}</td>
           </tr>
           <tr>
              <th>存币地址</th>
              <td>{{ account.receiving_address }}</td>
           </tr>
           {% if userpaymentmethod %}
           <tr>
             <td colspan="2">&nbsp;</td>
           </tr>
           <tr>
             <td><a id="btn-purchase" class="btn btn-success" href="/walletgui/showpurchase/">充值</a>&nbsp;</td>
             <td><a id="btn-redeem" class="btn btn-success" href="/walletgui/showredeem/">提现</a>&nbsp;</td>
           </tr>
           {% endif %}
           <tr>
             <td colspan="2">&nbsp;</td>
           </tr>
           {% if userpaymentmethod %}
           <tr>
             <td colspan="2">
                <table>
                  <tr>
                      <th>支付公司</th>
                      <th>账号</th>
                      <th></th>
                      <th></th>    
                  </tr>
                  <tr>
                    <td>{{ userpaymentmethod.provider.name }}</td>
                    <td>{{ userpaymentmethod.account_at_provider }}</td>
                    <td><a href="{% url 'delete_payment_method' %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <td><a href="{% url 'edit_payment_method' %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                  </tr>
                </table>
             </td>
           </tr>
           {% else %}
           <tr>
             <td colspan="2" align="center"><div><a id="btn-paymentmethod" class="btn btn-success" href="{ % url 'create_payment_method' %}">添加付款方式</a></div></td>
           </tr>
           {% endif %}
         </table>
        </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
