<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
        <div>
          <table>
          <tr>
             <th>账户余额</th>
             <th>增长余额</th>
           </tr>
           <tr>
             <td>{{ account.balance }}</td>
             <td>{{ account.generated }}</td>
           </tr>
           <tr>
             <td><a id="btn-deposit" class="btn btn-success btn-lg" href="/walletgui/deposit/">购买</a>&nbsp;</td>
             <td><a id="btn-redeem" class="btn btn-success btn-lg" href="/walletgui/redeem/">提现</a>&nbsp;</td>
           </tr>
           <tr>
             <td><a id="btn-deposit" class="btn btn-success btn-lg" href="/walletgui/transfer/">转币</a>&nbsp;</td>
             <td><a id="btn-redeem" class="btn btn-success btn-lg" href="/walletgui/transhistory/">历史</a>&nbsp;</td>
           </tr>
           <tr>
             <td><a id="btn-deposit" class="btn btn-success btn-lg" href="/walletgui/backup/">钱包备份</a>&nbsp;</td>
             <td><a id="btn-redeem" class="btn btn-success btn-lg" href="/walletgui/paymentmethod/">付款信息</a>&nbsp;</td>
           </tr>
         </table>
        </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
