<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
         <div class="modal-body">
           <h2>提现</h2>
           <div id="div_id_quantity" class="form-group">
             <table>
               <tr>
                 <td><label class="control-label">基金总额(CNY): </label><td>
                 <td>{{ account.balance }}</td>
               </tr>
             </table>
             <label for="id_amount" class="control-label">提现总额(CNY)</label><span class="asteriskField">*</span> </label>
             <div class="controls "> <input class="textinput textInput form-control" id="id_txt_amount" maxlength="16" name="amount" type="text" value="{% if amount %}{{ amount }}{% endif %}" /> </div>
           </div>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-primary pull-left">提交</button>
           <a id="btn-redeem" class="btn btn-success" href="/walletgui/">撤销</a>
         </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
