<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
         <div class="modal-body">
           <h2>投资基金转账</h2>
           <div id="div_id_quantity" class="form-group">
             <table>
               <tr>
                 <td><label class="control-label">基金总额(CNY): </label><td>
                 <td>{{ account.balance }}</td>
               </tr>
             </table>
             <label for="id_address" class="control-label">转账地址</label><span class="asteriskField">*</span> </label>
             <div class="controls "> <input class="textinput textInput form-control" id="id_txt_address" maxlength="16" name="amount" type="text" /> </div>
             <label for="id_amount" class="control-label">转账总额(CNY)</label><span class="asteriskField">*</span> </label>
             <div class="controls "> <select class="select select-input form-control" id="id_external_address" name="external_address">
              <option value="">请选择钱包地址</option>
              {% for address in external_addresses %}
              <option value="{{ address.address }}">{{ address.alias }}</option>
              {% endfor %}
            </select>
          </div>
           </div>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-primary pull-left">提交</button>
           <button type="button" class="btn btn-default pull-right">撤销</button>
         </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
