<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
         <div class="modal-body">
           <h2>投资基金提现</h2>
           <div id="div_id_quantity" class="form-group">
             <table class="table">
               <tr>
                 <th>类型</th>
                 <th>进账</th>
                 <th>出帐</th>
                 <th>时间</th>
               </tr>
               <tr>
                 <td>购买</td>
                 <td>1500</td>
                 <td></td>
                 <td>2018-03-14 00:00</td>
               </tr>
               <tr>
                 <td>提现</td>
                 <td></td>
                 <td>200</td>
                 <td>2018-03-14 00:00</td>
               </tr>
               <tr>
                 <td>存入</td>
                 <td>200</td>
                 <td></td>
                 <td>2018-03-14 00:00</td>
               </tr>
               <tr>
                 <td>转账</td>
                 <td></td>
                 <td>500</td>
                 <td>2018-03-14 00:00</td>
               </tr>
             </table>
           </div>
         </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
