<!DOCTYPE html>
<html lang="en-us">
<head>
{% include 'include/common_header.html' %}
</head>
<body>
  <!-- menu section -->
  {% include "include/wallettopmenu.html" %}
  <!-- body section -->
	<div class="container">
		<div class="well">
       <div class="row">
         <div class="modal-body">
           <h2>交易历史</h2>
           <div id="div_id_quantity" class="form-group">
             <table class="table">
               <tr>
                 <th>类型</th>
                 <th>进账</th>
                 <th>出帐</th>
                 <th>时间</th>
               </tr>
               {% for trans in transactions %}
               {% if trans.trans_type != 'CANCEL SELL ORDER' and trans.trans_type != 'CANCEL BUY ORDER' %}
               <tr>
                 <td>{{ trans.trans_type_display }}</td>
                 <td>{% if trans.balance_update_type == 'CREDIT' %}{{ trans.units }}{% endif %}</td>
                 <td>{% if trans.balance_update_type == 'DEBT' %}-{{ trans.units }}{% endif %}</td>
                 <td>{{ trans.lastupdated_at|date:"m-d" }} {{ trans.lastupdated_at|time:"H:i:s" }}</td>
                 <!--<td>{{ trans.availables_balance }}</td>-->
               </tr>
               {% endif %}
               {% endfor %}
             </table>
           </div>
         </div>
      </div>
		</div>
		<hr/>
	</div>
  <!-- footer section-->
  {% include 'include/footer.html' %}

</body>

</html>
