<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% if username %}/{% else %}/accounts/accountinfo/{% endif %}"><img src="/static/img/axfund_icon.png" width=96 height=36></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/mysellorder/">卖美基金</a></li>
          <li><a href="/purchase/">买美基金</a></li>
          <li><a href="/redeem/">提美基金</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if not username %}
          <li><a href="/registration/"><span class="glyphicon glyphicon-user"></span>免费注册</a></li>
          <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
        {% else %}
        <li><a href="/accounts/accountinfo/"><span class="glyphicon glyphicon-user"></span>我的账户</a></li>
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span>退出</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
