Unit]
Description=CnyCoin daemon
After=network.target
#Conflicts=cnycoind-tor@%i.service 
Conflicts=cnycoind-tor.service

[Service]
User={{ login_user }}
Group={{ login_user }}
Type=forking
Restart=always
RestartSec=15
ExecStart=/usr/bin/axfd -daemon -datadir=/home/{{ login_user }}/.axf -conf=/home/{{ login_user }}/.axf/axf.conf
ExecStop=/usr/bin/axfd -datadir=/home/{{ login_user }}/.axf -conf=/home/{{ login_user }}/.axf/axf.conf stop & sleep 15
TimeoutStopSec=60s
TimeoutStartSec=2s

## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

